<!-- Begin right column window --> 
				<div class="onecolumn"> 
					<div class="header"> 
						<span><%= @user.name %></span> 
					</div> 
					<br class="clear"/> 
					<div class="content"> 
						<h3>Publication</h3> 
						<ul class="style"> 
            	  			<li><%= @user.publication.name %></li> 
            			</ul> 
            			<h4>Organization</h4> 
						<ol class="style"> 
            	  			<li><%= @user.organization.name %></li> 
            			</ol>
						
					</div> 

				</div> 
				<!-- End right column window --> 
			</div> 
			<!-- End two column window --> 
			