<tr>
  <td class="micropost">
	<%= image_tag("album.png", :alt => "Album", :class => "round") %>
    <p>Title: </p><span class="content"><%= album.name %></span>
	<span class="content"><%= link_to "Full Album", album %></span>
    
	
  </td>
</tr>